<div class="row">
  <section class="col-sm-12">
    <h1 class="page-header">Weather Data by Country</h1>
    <div class="region region-content">
      <section>
        <h2>
          <a routerLink="/weather">All Regions</a>
          <span> - <a [routerLink]="['/weather-region', region]" class="active" style="cursor:pointer;">{{ region | region }}</a></span>
          <span> - <a [routerLink]="['/weather-region', region, country]" class="active" style="cursor:pointer;">{{ country | country }}</a></span>
          <span *ngIf="state"> - <a [routerLink]="['/weather-region', region, country, state]" class="active" style="cursor:pointer;">{{ state | state:country }}</a></span>
        </h2>

        <div>
          <ng-container *ngIf="locations; else localities">
            <p style="font-size:0.9rem;margin-top:20px;margin-bottom:30px;">Select a location.</p>
            <div class="btn-group-vertical" role="group">
              <ng-container *ngFor="let location of locations">
                <a *ngIf="state" [routerLink]="['/weather-location', region, country, state, location.properties.title]" class="btn btn-body border btn-hover" type="button" style="text-align:left;font-size:0.9rem;">{{ location.data.name }}</a>
                <a *ngIf="!state" [routerLink]="['/weather-location', region, country, location.properties.title]" class="btn btn-body border btn-hover" type="button" style="text-align:left;font-size:0.9rem;">{{ location.data.name }}</a>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #localities>
            <ng-container *ngIf="country === 'USA'">
              <h3 class="mt-1">California Climate Zones</h3>
              <div class="btn-group-vertical" role="group">
                <a *ngIf="'CA-Zones' as state" [routerLink]="['/weather-region', region, country, state]" class="btn btn-body border btn-hover mb-3" type="button" style="text-align:left;font-size:0.9rem;">{{ state }} - {{ state | state:country }}</a>
              </div>
              <h3>Weather by State</h3>
            </ng-container>
            <div class="btn-group-vertical" role="group">
              <a *ngFor="let state of states" [routerLink]="['/weather-region', region, country, state]" class="btn btn-body border btn-hover" type="button" style="text-align:left;font-size:0.9rem;">{{ state }} - {{ state | state:country }}</a>
            </div>
          </ng-template>
        </div>

        <p style="font-size:0.9rem;text-align:center;margin-top:40px;margin-bottom:-20px;">Learn more about <a routerLink="/weather/sources">Weather Data Sources</a>.</p>
      </section>
    </div>
  </section>
</div>
