<div class="container">
  <header role="banner"></header>
  <div class="row">
    <section class="col-sm-12 font-default">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/documentation">Documentation</a></li>
        <li class="breadcrumb-item active" aria-current="page">References</li>
      </ol>
      <h1>References</h1>
      <div class="region region-content">
        <section id="block-system-main">

          <div>
            <table class="views-table cols-8 table">
              <thead>
              <tr>
                <th class="views-field views-field-title pt-5 pb-1" scope="col" (click)="onClickSort('title')" [ngClass]="{'highlighted':isSelected === 'title'}">
                  <a class="active" style="cursor:pointer;">Title<img *ngIf="isSelected === 'title'" [src]="image" aria-label="selected sort"></a>
                </th>
                <th class="view-field views-field-authors pt-5 pb-1" scope="col" (click)="onClickSort('authors')" [ngClass]="{'highlighted':isSelected === 'authors'}">
                  <a class="active" style="cursor:pointer;">Authors<img *ngIf="isSelected === 'authors'" [src]="image" aria-label="selected sort"></a>
                </th>
                <th class="view-field views-field-research-org pt-5 pb-1" scope="col" (click)="onClickSort('research_org')" [ngClass]="{'highlighted':isSelected === 'research_org'}">
                  <a class="active" style="cursor:pointer;">Research Org<img *ngIf="isSelected === 'research_org'" [src]="image" aria-label="selected sort"></a>
                </th>
                <th class="view-field views-field-publication-date pt-5 pb-1" scope="col" (click)="onClickSort('publication_date')" [ngClass]="{'highlighted':isSelected === 'publication_date'}">
                  <a class="active" style="cursor:pointer;">Publication Date<img *ngIf="isSelected === 'publication_date'" [src]="image" aria-label="selected sort"></a>
                </th>
                <th class="view-field views-field-source-titles pt-5 pb-1" scope="col">Source Title</th>
                <th class="view-field views-field-osti-id pt-5 pb-1" scope="col" (click)="onClickSort('osti_id')" [ngClass]="{'highlighted':isSelected === 'osti_id'}">
                  <a class="active" style="cursor:pointer;">osti_id<img *ngIf="isSelected === 'osti_id'" [src]="image" aria-label="selected sort"></a>
                </th>
                <th class="view-field views-field-doi pt-5 pb-1" scope="col" (click)="onClickSort('doi')" [ngClass]="{'highlighted':isSelected === 'doi'}">
                  <a class="active" style="cursor:pointer;">doi<img *ngIf="isSelected === 'doi'" [src]="image" aria-label="selected sort"></a>
                </th>
                <th class="view-field views-field-url pt-5 pb-1" scope="col" (click)="onClickSort('url')" [ngClass]="{'highlighted':isSelected === 'url'}">
                  <a class="active" style="cursor:pointer;">url<img *ngIf="isSelected === 'url'" [src]="image" aria-label="selected sort"></a>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let referenceItem of sortedRefs[page - 1]">
                <td [ngClass]="{'highlighted': isSelected === 'title'}"><a routerLink="/reference/{{ referenceItem.id }}" [innerHTML]="referenceItem.title"></a></td>
                <td [ngClass]="{'highlighted': isSelected === 'authors'}">{{ referenceItem.authors }}</td>
                <td [ngClass]="{'highlighted': isSelected === 'research_org'}">{{ referenceItem.research_org }}</td>
                <td [ngClass]="{'highlighted': isSelected === 'publication_date'}">{{ referenceItem.publication_date }}</td>
                <td>{{ referenceItem.source_title }}</td>
                <td [ngClass]="{'highlighted': isSelected === 'osti_id'}">{{ referenceItem.osti_id }}</td>
                <td [ngClass]="{'highlighted': isSelected === 'doi'}">{{ referenceItem.doi }}</td>
                <td [ngClass]="{'highlighted': isSelected === 'url'}"><a href="{{ referenceItem.url }}" *ngIf="referenceItem.url">{{ referenceItem.url }}</a></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <app-pagination [page]="page" [totalPages]="totalPages"></app-pagination>
          </div>

        </section>
      </div>
  </section>
  </div>
</div>
