.btn-hover:hover {
  background-color: #007bff;
  color: white;
}

.input-error {
  height: 20px;
}

#geomap {
  border: 0 none;
  height: 540px;
  padding: 20px 150px;
  width: 100%;
}

#keyword {
  width: 100%;
}
