<div class="container container-fluid">
    <header role="banner" id="page-header"></header>
    <div class="row">
        <section class="col-sm-12" style="margin-left:-15px;">
            <a id="main-content"></a>
            <h1 class="page-header" style="width:1130px;">Weather Data</h1>
            <div>
                <section style="width:71rem;font-size:0.9rem;">
                    <p>Weather data for more than 2100 locations are now available in EnergyPlus weather format — 1042 locations in the USA, 71 locations in Canada, and more than 1000 locations in 100 other countries throughout the world.
                        The weather data are arranged by World Meteorological Organization region and Country.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <h3>View Weather Data</h3>
                            <p>Select a region below to view weather data.</p>
                            <div class="btn-group-vertical" role="group">
                              <a *ngFor="let weather of regions" routerLink="/weather-region/{{ weather.region }}" class="btn btn-body border btn-hover" type="button" style="text-align:left;font-size:0.9rem;">{{ weather.region_name }}</a>
                            </div>
                        </div>
                        <div class="col-md-1 pad-top-150"></div>
                        <div class="col-md-4">
                            <h3>Search Weather Data</h3>
                            <div class="hi-top">
                                <form action="/weather" name="weather-search-form" accept-charset="UTF_8">
                                    <div class="form-item form-group">
                                        <label for="keyword" style="margin-top:30px;margin-left:1px;"><strong>Keyword Search</strong></label>
                                        <input #keyword="ngModel" class="form-control form-text" type="text" id="keyword" name="keyword" value size="60" maxlength="128" style="width:24rem;" (ngModel)="keyword.value" required>
                                    </div>
                                    <div *ngIf="empty_keyword && keyword.invalid && keyword.errors?.required" class="text-danger" style="margin-top:-15px;caret-color:black;">Please enter a search keyword.</div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top:104px;">
                            <button *ngIf="keyword.value" class="btn btn-primary btn-bg-dark form-submit form-group" [routerLink]="['/weather-search', keyword.value]" type="submit" id="submit" value="Search" style="font-size:0.9rem;padding-left:15px;padding-right:15px;height:35px;box-shadow:none;" (click)="checkKeyword(keyword.value)">Search</button>
                            <button *ngIf="!keyword.value" class="btn btn-primary btn-bg-dark form-submit form-group" type="submit" id="submit" value="Search" style="font-size:0.9rem;padding-left:15px;padding-right:15px;height:38px;box-shadow:none;" (click)="checkKeyword(keyword.value)">Search</button>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <div class="col-md-12">
                            <h3>Browse Weather Data</h3>
                            <p>Click on the markers in the map below to access weather data.</p>
                            <div id="geomap" style="width:725px;margin-left:160px;">
                                <script src="https://gist.github.com/Myoldmopar/8c58eba49c0a40fdbbfd8cce36a0a96e.js"></script>
                                <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-be17d52734db769251e4a7901baa0d2f.css">
                                <div id="gist107753486" class="gist">
                                    <div class="gist-file" translate="no">
                                        <div class="gist-data js-gist-file-update-container js-task-list-container file-box">
                                            <div id="file-master-geojson" class="file my-2">
                                                <div itemprop="text" class="Box-body blob-wrapper data type-json" style="margin-top:-8px;">
                                                    <div class="render-wrapper">
                                                        <div class="render-container is-render-pending js-render-target" data-identity="210548ae-0842-4e62-b157-2f2e625a1c440" data-host="https://render.githubusercontent.com" data-type="geojson">
                                                            <svg style="box-sizing: content-box; color: var(--color-icon-primary);" viewBox="0 0 16 16" fill="none" data-view-component="true" width="64" height="64" class="octospinner mx-auto anim-rotate">
                                                                <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2" vector-effect="non-scaling-stroke"></circle>
                                                                <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
                                                            </svg>
                                                            <div class="render-viewer-error">Sorry, something went wrong. <a href="https://gist.github.com/Myoldmopar/8c58eba49c0a40fdbbfd8cce36a0a96e.js">Reload?</a></div>
                                                            <div class="render-viewer-fatal">Sorry, we cannot display this file.</div>
                                                            <div class="render-viewer-invalid">Sorry, this file is invalid so it cannot be displayed.</div>
                                                            <iframe class="render-viewer" src="https://render.githubusercontent.com/view/geojson?color_mode=auto&commit=e6cdd73f63d359ddfe52a475bf33c231eb5eccae&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f4e52454c2f456e65726779506c75732f653663646437336636336433353964646665353261343735626633336332333165623565636361652f776561746865722f6d61737465722e67656f6a736f6e&nwo=NREL%2FEnergyPlus&path=weather%2Fmaster.geojson&repository_id=14620185&repository_type=Repository#f3709489-4cfd-46cb-83ac-bff1345becf9" sandbox="allow-scripts allow-same-origin allow-top-navigation" title="Weather File GeoJSON">
                                                                Viewer requires iframe.
                                                            </iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gist-meta" style="margin-top:-20px;">
                                            <a href="https://gist.github.com/Myoldmopar/8c58eba49c0a40fdbbfd8cce36a0a96e/raw/830a33ec7e57aec610446d02c53e664c711c48d6/master.geojson" style="float:right">view raw</a>
                                            <a href="https://gist.github.com/Myoldmopar/8c58eba49c0a40fdbbfd8cce36a0a96e#file-master-geojson">master.geojson</a>
                                            hosted with ❤ by <a href="https://github.com">GitHub</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="hi-top" style="margin-top:20px;">The Auxiliary Programs document that is packaged with EnergyPlus includes information about weather data in general, the EnergyPlus weather data format, and weather file conversion.
                        If you cannot find weather data for your location, see the
                        <a routerLink="/weather/simulation">Weather Data for Simulation</a>
                         page for other sources of weather data.  Information about the sources of weather data is available on the
                        <a routerLink="/weather/sources">Weather Data Sources</a> page.
                    </p>
                </section>
            </div>
        </section>
    </div>
</div>
