<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 border">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/images/eplus_logo.png" class="energyplus-logo pr-3" alt="Home">EnergyPlus
  </a>

  <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed">&#9776;</button>

  <div [ngbCollapse]="menuCollapsed" class="links collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/downloads" routerLinkActive="active-link" (click)="menuCollapsed = true">Downloads</a>
      </li>
      <li class="nav-item">
        <div ngbDropdown placement="bottom-right">
          <div class="dropdown-container">
            <a class="nav-link" id="navbarDropdown" routerLink="/documentation" [class.active-link]="rlaDocumentation.isActive || rlaReference.isActive" routerLinkActive #rlaDocumentation="routerLinkActive" (click)="menuCollapsed = true" aria-haspopup="true" aria-expanded="false">Documentation</a>
            <button *ngIf="rlaDocumentation.isActive || rlaReference.isActive" class="btn nav-link pl-0 pr-0" ngbDropdownToggle aria-label="dropdown toggle"><fa-icon [icon]="['fas', 'caret-down']" alt="dropdown toggle"></fa-icon></button>
          </div>
          <ul ngbDropdownMenu class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
            <li>
              <a class="nav-link dropdown-item" routerLink="/references" routerLinkActive="active-link" #rlaReference="routerLinkActive" (click)="menuCollapsed = true">References</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/quick-start" routerLinkActive="active-link" (click)="menuCollapsed = true">QuickStart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/support-training" routerLinkActive="active-link" (click)="menuCollapsed = true">Support & Training</a>
      </li>
      <li class="nav-item">
        <div ngbDropdown placement="bottom-right">
          <div class="dropdown-container">
            <a class="nav-link" routerLink="/licensing" id="navbarDropdown2" [class.active-link]="rlaLicensing.isActive || rlaContributing.isActive" routerLinkActive #rlaLicensing="routerLinkActive" (click)="menuCollapsed = true" aria-haspopup="true" aria-expanded="false">Licensing</a>
            <button *ngIf="rlaLicensing.isActive || rlaContributing.isActive" class="btn nav-link pl-0 pr-0" ngbDropdownToggle aria-label="dropdown toggle"><fa-icon [icon]="['fas', 'caret-down']" alt="dropdown toggle"></fa-icon></button>
          </div>
          <ul ngbDropdownMenu class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown2">
            <li>
              <a class="nav-link dropdown-item" routerLink="/contributing" routerLinkActive="active-link" #rlaContributing="routerLinkActive" (click)="menuCollapsed = true">Contributing</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div ngbDropdown placement="bottom-right">
          <div class="dropdown-container">
            <a class="nav-link" id="navbarDropdown3" routerLink="/weather" [class.active-link]="rlaWeather.isActive || rlaSimulation.isActive || rlaSources.isActive" routerLinkActive #rlaWeather="routerLinkActive" (click)="menuCollapsed = true" aria-haspopup="true" aria-expanded="false">Weather</a>
            <button *ngIf="rlaWeather.isActive || rlaSimulation.isActive || rlaSources.isActive" class="btn nav-link pl-0 pr-0" ngbDropdownToggle aria-label="dropdown toggle"><fa-icon [icon]="['fas', 'caret-down']" alt="dropdown toggle"></fa-icon></button>
          </div>
          <ul ngbDropdownMenu class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown3">
            <li>
              <a class="nav-link dropdown-item" routerLink="/weather/simulation" routerLinkActive="active-link" #rlaSimulation="routerLinkActive" (click)="menuCollapsed = true">Weather Data for Simulation</a>
            </li>
            <li>
              <a class="nav-link dropdown-item" routerLink="/weather/sources" routerLinkActive="active-link" #rlaSources="routerLinkActive" (click)="menuCollapsed = true">Weather Sources</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
