:host {
  display: block;
  margin: 20px 0;
}
.energyplus-logo {
  width: 48px;
}

.active-link {
  background-color: lightgrey;
  color:gray;
}

.dropdown-toggle::after {
  display: none;
}

a {
	font-weight: normal;
}