<div class="row">
	<section class="col-sm-12">
		<h1 class="page-header">Weather Data by Region</h1>
		<div class="region region-content">
			<section>
				<h2>
					<a routerLink="weather">All Regions</a> - <a routerLink="/weather-region/north_and_central_america_wmo_region_4" class="active" style="cursor:pointer;">North And Central America WMO Region 4</a> - <a routerLink="/weather-region/north_and_central_america_wmo_region_4/{{ location.country }}" class="active" style="cursor:pointer;">{{ country }}</a> - <a routerLink="/weather-region/north_and_central_america_wmo_region_4/{{ location.country }}/{{ state_route }}" class="active" style="cursor:pointer;">{{ state_name }}</a>
				</h2>
				<div class="btn-group-vertical" role="group">
					<h3 style="margin-top:20px;margin-bottom:30px;">Weather Data Download - {{ location.title }}</h3>
					<p style="font-size:0.9rem;margin-bottom:30px;">Click on a file to download:</p>
					<div class="row">
						<div class="col-md-4">
							<div class="btn-group-vertical" role="group">
								<a href="{{ location.ddy }}" class="btn btn-body border btn-hover weather-download" type="button">ddy</a>
								<a href="{{ location.epw }}" class="btn btn-body border btn-hover weather-download" type="button">epw</a>
								<a href="{{ location.stat }}" class="btn btn-body border btn-hover weather-download" type="button">stat</a>
								<a href="{{ location.all }}" class="btn btn-body border btn-hover weather-download" type="button">Download All</a>
							</div>
						</div>
						<div class="col-md-4">
							<p style="font-size:0.9rem;"><em>mos</em> files are Modelica timeseries files converted from the EPW weather file.  These files capture the weather data but don't include the full weather file contents:</p>
							<div class="btn-group-vertical" role="group">
								<a href="{{ location.mos }}" class="btn btn-body border btn-hover weather-download-mos" type="button">Download mos File</a>
							</div>
						</div>
					</div>
				</div>
				<p style="font-size:0.9rem;text-align:center;margin-top:40px;margin-bottom:-20px;">Learn more about <a routerLink="weather/sources">Weather Data Sources</a>.</p>
			</section>
		</div>
	</section>
</div>
