body {
  font-size: 0.9rem;
}

ul {
  list-style: none;
}

.ml-n1 {
  margin-left: -15px;
}

.mt-n1 {
  margin-top: -15px;
}

.version-badge {
  font-size: 1.3rem;
}

.alt-builds {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1rem;
  color: #6b6b6b !important;
}
