<h1 class="page-header">Downloads</h1>
<div class="row">
  <div class="card card-body bg-light" style="margin-left:15px;">
    <p class="font-default">EnergyPlus™ is open source software. It is distributed under the terms of a permissive, BSD-style license. For more information, see the
      <a routerLink="/licensing">Licensing</a> page.
    </p>
  </div>
  <div class="card card-body bg-light" style="margin-left:15px;">
    <h1 class="card-title mb-3">Latest Release</h1>
    <div class="row">
      <h6 class="col-sm-12 col-md-8 col-lg-5 card-subtitle mb-4 text-muted">
        <div class="row">
          <span class="col-sm-12 font-default">Select your platform to start the download</span>
          <a class="col-sm-3 col-md-4 col-lg-4 btn btn-default btn-primary btn-block btn-bg-dark btn-latest-release" role="button" style="margin-left:15px;" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Windows-x86_64.exe">Windows (x64)</a>
          <a class="col-sm-3 col-md-3 col-lg-4 btn btn-fefault btn-primary btn-bg-dark btn-latest-release" role="button" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Linux-Ubuntu20.04-x86_64.run">Ubuntu 20.04</a>
          <a class="col-sm-2 col-md-2 col-lg-2 btn btn-default btn-primary btn-bg-dark btn-latest-release-mac" role="button" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Darwin-macOS10.15-x86_64.dmg">Mac</a>
        </div>
        <div class="row">
          <div>
            <a class="col-sm-6 card-link font-default text-center btn-release-small" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Windows-i386.exe">Windows (x32)</a>
          </div>
          <div>
            <a class="col-sm-6 card-link font-default text-center btn-release-small" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Linux-Ubuntu18.04-x86_64.run">Ubuntu 18.04</a>
          </div>
        </div>
      </h6>
      <h6 class="col-sm-3 col-md-4 col-lg-2 card-subtitle text-muted">
        <p class="font-weight-bold font-default mb-0">Current version</p>
        <h1><span class="badge badge-secondary badge-info btn-bg-light">9.5.0</span></h1>
        <a href="https://github.com/NREL/EnergyPlus/releases/latest" class="btn btn-primary btn-bg-dark font-default" role="button">Release Notes</a>
      </h6>
      <h6 class="col-sm-5 col-md-6 col-lg-3 card-subtitle pr-0 text-muted">
        <p class="font-weight-bold mb-2 font-default btn-supported-platforms">Supported Platforms</p>
        <ul class="font-default pl-4">
          <li>Windows 10</li>
          <li>Ubuntu 18.04 and 20.04</li>
          <li>Mac OSX 10.15</li>
        </ul>
      </h6>
      <h6 class="col-sm-4 col-md-6 col-lg-2 card-subtitle mb-2 pl-0 pr-0 text-muted">
        <p class="font-weight-bold mb-2 font-default btn-installation-instructions">Installation Instructions</p>
        <ul class="font-default">
          <li><a routerLink="/installation" fragment="windows">Windows</a></li>
          <li><a routerLink="/installation" fragment="linux">Linux</a></li>
          <li><a routerLink="/installation" fragment="mac">Mac</a></li>
        </ul>
      </h6>
    </div>
  </div>
  <div class="card card-body bg-light pb-1" style="margin-left:15px;">
    <h2 class="card-title mb-2"><fa-icon [icon]="['fab', 'github']"></fa-icon> Recent Releases</h2>
    <p class="font-default">Recent releases of EnergyPlus (version 8.2 to current) can be downloaded from the Github Repository.</p>
    <h6 class="card-subtitle mb-2 text-muted">
      <ul class="font-default">
        <li class="mt-1" *ngFor="let release of releases">
          <a class="card-link" [attr.href]="release.url">{{ release.version }}</a>
        </li>
      </ul>
    </h6>
    <p class="font-default">NOTE: All Windows releases of version 8.6 and prior releases have been removed as they contained a vulnerability that was addressed starting with version 8.7. We apologize for any inconvenience.</p>
  </div>
  <div class="card card-body bg-light" style="margin-left:15px;">
    <h2 class="card-title mb-2"><fa-icon [icon]="['fab', 'github']"></fa-icon> Old Releases</h2>
    <div class="row">
      <p class="font-default mb-2 col-sm-12">Old releases of EnergyPlus (version 7.0.0 through 8.1.0) can be downloaded from the EnergyPlusRelease Github Repository.</p>
      <a class="btn btn-primary btn-bg-dark col-sm-4 col-md-3 col-lg-2 font-default btn-old-release" style="margin-left:15px;" href="https://github.com/NREL/EnergyPlusRelease/releases" role="button">View Old Releases</a>
      <p class="font-default mt-3 col-sm-12">Transition utilities are available for updating older EnergyPlus input files to later versions.  The files can be downloaded from the Helpdesk.</p>
      <a class="btn btn-primary btn-bg-dark mt-n1 col-sm-5 col-md-4 col-lg-3 font-default btn-old-tp" style="margin-left:15px;" href="http://energyplus.helpserve.com/Knowledgebase/List/Index/46/converting-older-version-files" role="button">Older Transition Programs</a>
    </div>
  </div>
</div>
