<h1 class="page-header" style="margin-top:-20px;">Downloads</h1>

<div class="row">
  <div class="card card-body bg-light" style="margin-left:15px;">
    <p style="font-size:0.9rem;height:3px;">EnergyPlus™ is open source software. It is distributed under the terms of a permissive, BSD-style license. For more information, see the 
      <a routerLink="/licensing">Licensing</a> page.
    </p>
  </div>
  <div class="card card-body bg-light" style="padding-bottom:30px;margin-left:15px;">
    <h1 class="card-title mb-3">Latest Release</h1>
    <div class="row">
      <h6 class="col-lg-5 card-subtitle mb-4 text-muted">
        <span style="font-size:0.9rem;">Select your platform to start the download</span>
        <a class="btn btn-primary btn-lg mr-1 mt-2 mb-2 btn-bg-dark" role="button" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Windows-x86_64.exe" style="font-size:1.1rem;width:155px;">Windows (x64)</a>
        <a class="btn btn-primary btn-lg mx-1 mt-2 mb-2 btn-bg-dark" role="button" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Linux-Ubuntu20.04-x86_64.run" style="font-size:1.1rem;width:155px;">Ubuntu 20.04</a>
        <a class="btn btn-primary btn-lg ml-1 mt-2 mb-2 btn-bg-dark" role="button" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Darwin-macOS10.15-x86_64.dmg" style="font-size:1.1rem;">Mac</a>
        <a class="card-link ml-4 mr-4" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Windows-i386.exe" style="font-size:0.9rem;">Windows (x32)</a>
        <a class="card-link ml-5" href="https://github.com/NREL/EnergyPlus/releases/download/v9.5.0/EnergyPlus-9.5.0-de239b2e5f-Linux-Ubuntu18.04-x86_64.run" style="font-size:0.9rem;">Ubuntu 18.04</a>
      </h6>
      <h6 class="col-md-2 card-subtitle text-muted">
        <p class="font-weight-bold mb-0" style="font-size:0.9rem;padding-bottom:6px;">Current version</p>
        <h1><span class="badge badge-secondary badge-info mt-0 btn-bg-light" style="height:50px;padding-top:10px;">9.5.0</span></h1>
        <a href="https://github.com/NREL/EnergyPlus/releases/latest" class="btn btn-primary pt-1 pb-1 btn-bg-dark" role="button" style="font-size:0.9rem;width:125px;height:35px;">Release Notes</a>
      </h6>
      <h6 class="col-md-3 card-subtitle pr-0 text-muted">
        <p class="font-weight-bold mb-2" style="font-size:0.9rem;">Supported Platforms</p>
        <ul class="pl-4" style="font-size:0.9rem;">
          <li>Windows 10</li>
          <li>Ubuntu 18.04 and 20.04</li>
          <li>Mac osx 10.15</li>
        </ul>
      </h6>
      <h6 class="col-md-2 card-subtitle mb-2 pl-0 pr-0 text-muted">
        <p class="font-weight-bold mb-2" style="font-size:0.9rem;">Installation Instructions</p>
        <ul class="pl-4" style="font-size:0.9rem;">
          <li><a routerLink="/installation/#windows">Windows</a></li>
          <li><a routerLink="/installation/#linux">Linux</a></li>
          <li><a routerLink="/installation/#mac">Mac</a></li>
        </ul>
      </h6>
    </div>
  </div>
  <div class="card card-body bg-light pb-1" style="margin-left:15px;">
    <h2 class="card-title mb-2"><fa-icon [icon]="['fab', 'github']"></fa-icon> Recent Releases</h2>
    <p style="font-size:0.9rem;">Recent releases of EnergyPlus (version 8.2 to current) can be downloaded from the Github Repository.</p>
    <div class="row">
      <h6 class="col-md-5 card-subtitle mb-2 text-muted">
        <ul style="font-size:0.9rem;">
          <app-recent-release *ngFor="let release of releases" [release]="release"></app-recent-release>
        </ul>
      </h6>
    </div>
    <p style="font-size:0.9rem;">NOTE: All Windows releases of version 8.6 and prior releases have been removed as they contained a vulnerability that was addressed starting with version 8.7. We apologize for any inconvenience.</p>
  </div>
  <div class="card card-body bg-light" style="margin-left:15px;width:300px;">
    <h2 class="card-title mb-3"><fa-icon [icon]="['fab', 'github']"></fa-icon> Old Releases</h2>
    <div class="row col-md-11">
      <p style="font-size:0.9rem;margin-bottom:10px;">Old releases of EnergyPlus (version 7.0.0 through 8.1.0) can be downloaded from the EnergyPlusRelease Github Repository.</p>
      <a class="btn btn-primary btn-md btn-bg-dark mb-4" href="https://github.com/NREL/EnergyPlusRelease/releases" role="button" style="margin-top:-10px;">View Old Releases</a>
      <p style="font-size:0.9rem;margin-bottom:10px;margin-top:-10px;">Transition utilities are available for updating older EnergyPlus input files to later versions.  The files can be downloaded from the Helpdesk.</p>
      <a class="btn btn-primary btn-md btn-bg-dark mb-5" href="http://energyplus.helpserve.com/Knowledgebase/List/Index/46/converting-older-version-files" role="button" style="margin-top:-10px;">Older Transition Programs</a>
    </div>
  </div>
</div>
