<div class="container-fluid">
  <header role="banner"></header>
  <section class="col-md-12">
    <h1 class="page-header">User Support</h1>
    <div class="font-default">
      <p>There are several EnergyPlus support services for e-mail, web, and phone support. In addition, several
        organizations provide general and private/tailored training workshops.</p>
      <h3>EnergyPlus Helpdesk</h3>
      <p>The <a href="https://energyplushelp.freshdesk.com/">EnergyPlus Helpdesk</a> has a knowledge base and entry forms for submitting help requests and bug reports. Help is email based. You may also submit
        new issues, files, and reply to tickets via e-mail at <a href="mailto:EnergyPlus-Support@gard.com">EnergyPlus-Support@grad.com</a>
      . This affress has been linked to the helpdesk since early May 2008.</p>
      <h3>Unmet Hours Website</h3>
      <p><a href="https://unmethours.com/">Unmet Hours</a> is a community-based support website similar to the popular
        StackExchange Q&A websites. Users can ask and answer questions and “vote” questions and answers up or down.
        Users can also subscribe to interesting topics and receive email notifications when new questions about the
        topic are asked—members of the EnergyPlus team subscribe to the tag ‘energyplus’.</p>
      <h3>Real-Time Email and Phone Support</h3>
      <p>These <a href="https://buildingenergysoftwaretools.com/?capabilities=Support+Services&keys=EnergyPlus">organizations</a>
       provide more individual email and/or phone support.</p>
      <h3>EnergyPlus Training</h3>
      <p>Several <a href="https://buildingenergysoftwaretools.com/?capabilities=Training+Services&keys=EnergyPlus">organizations</a>
        provide public and/or private EnergyPlus trainings and workshops.</p>
      <h3>EnergyPlus University Course Teaching Material</h3>
      <p>The following curriculum outline and accompanying PowerPoint slides are intended to aid professors in teaching
        a course on EnergyPlus. The course is designed for upper-level undergraduate as well as graduate students. The
        primary audience is students of mechanical or architectural engineering with a background in heat transfer and
        thermodynamics. Instructors in affiliated fields such as civil engineering, architecture, etc., may need to
        supplement some of the lecture material with more basic information on heat transfer, thermodynamics, engineering
        analysis, etc.</p>
      <ul>
        <li><a href="assets/nrel_custom/eplus_files/university_course_info.pdf">Curriculum<img src="assets/images/icon_pdf.png" class="figure-img"></a></li>
        <li>Lecture Slides (<a href="assets/nrel_custom/eplus_files/university_course.zip" download>Zip 6.5 MB<img src="assets/images/icon_zip.png" class="figure-img ml-1"></a>)</li>
      </ul>
    </div>
  </section>
</div>
