<div class="container-fluid">
  <div class="row">
    <section class="col-sm-12" style="margin-left:-10px;">
      <h1 class="page-header" style="margin-top:-20px;">EnergyPlus</h1>
      <div class="region region-content">
        <section id="block-system-main" class="blcok block-system cearfix">
          <div class="row">
            <div class="col-md-9">
              <p style="width:49rem;font-size:0.9rem;">EnergyPlus™ is a whole building energy simulation program that engineers, architects, and researchers use to model both energy consumption—for heating, cooling, ventilation, lighting and plug and process loads—and water use in buildings. Some of the notable features and capabilities of EnergyPlus include: </p>
              <ul style="width:48rem;font-size:0.9rem;">
                <li>
                  <strong>Integrated, simultaneous solution</strong> of thermal zone conditions and HVAC system response that does not assume that the HVAC system can meet zone loads and can simulate un-conditioned and under-conditioned spaces.
                </li>
                <li><strong>Heat balance-based solution</strong> of radiant and convective effects that produce surface temperatures thermal comfort and condensation calculations.</li>
                <li><strong>Sub-hourly, user-definable time steps</strong> for interaction between thermal zones and the environment; with automatically varied time steps for interactions between thermal zones and HVAC systems. These allow EnergyPlus to model systems with fast dynamics while also trading off simulation speed for precision.</li>
                <li><strong>Combined heat and mass transfer</strong> model that accounts for air movement between zones.</li>
                <li><strong>Advanced fenestration models</strong> including controllable window blinds, electrochromic glazings, and layer-by-layer heat balances that calculate solar energy absorbed by window panes.
                </li>
                <li><strong>Illuminance and glare calculations</strong> for reporting visual comfort and driving lighting controls. </li>
                <li><strong>Component-based HVAC</strong> that supports both standard and novel system configurations. </li>
                <li><strong>A large number of built-in HVAC and lighting control strategies</strong> and an extensible runtime scripting system for user-defined control.</li>
                <li><strong>Functional Mockup Interface</strong> import and export for co-simulation with other engines.</li>
                <li><strong>Standard summary and detailed output reports</strong> as well as user definable reports with selectable time-resolution from annual to sub-hourly, all with energy source multipliers.</li>
              </ul>
            </div>
            <div class="col-md-3" style="padding-top:120px;padding-left:30px;">
              <img src="assets/images/energyplus.jpg" alt="energyplus">
              <p style="font-size:0.8rem;"><strong>EnergyPlus 9.5.0 is now available.</strong></p>
              <p>
                <a class="btn btn-bg-dark btn-lg" routerlink="/downloads" style="width:200px;padding-left:20px;margin-left:7px;font-size:0.9rem;background-color:#3276B1">Download EnergyPlus</a>
              </p>
            </div>
            <div class="row">
              <div class="col-md-11">
                <p style="width:68rem;font-size:0.9rem;">EnergyPlus is a console-based program that reads input and writes output to text files. It ships with a number
                  of utilities including IDF-Editor for creating input files using a simple spreadsheet-like interface, EP-Launch
                  for managing input and output files and performing batch simulations, and EP-Compare for graphically comparing
                  the results of two or more simulations. Several comprehensive
                  <a href="https://www.buildingenergysoftwaretools.com/?capabilities=Whole-building+Energy+Simulation&keywords=EnergyPlus">
                    graphical interfaces</a> for EnergyPlus are also available. DOE does most of its work with EnergyPlus using the
                  <a href="https://www.openstudio.net">OpenStudio</a> software development kit and suite of applications.
                </p>
                <p style="width:68rem;font-size:0.9rem;">DOE releases major updates to EnergyPlus twice annually. An updated version 9.5.0 with bug fixes was released on March 31, 2021.</p>
                <p style="width:68rem;font-size:0.9rem;">EnergyPlus is free, open-source, and cross-platform—it runs on the Windows, Mac OS X, and Linux operating systems.
                  Its development is funded by the U.S. Department of Energy’s (DOE) Building Technologies Office (BTO). Along with OpenStudio,
                  EnergyPlus is part of BTO’s <a href="http://energy.gov/eere/buildings/building-energy-modeling">building energy modeling program</a> portfolio.</p>
                <p style="width:68rem;font-size:0.9rem;">For questions, comments, or modification requests to this website please contact <a href="mailto:amir.roth@ee.doe.gov">amir.roth@ee.doe.gov</a></p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
